/* Global configuration*/


/* basic body configuration*/
body{ 
    font-size: 20px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/*header background and font color*/
h2,h3{
    font-size: 40px;
    display: inline-flex;
    background-color: #660000;
    color: white;
}

/*the the header as the entire screen width */
header{ 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

ul{
    max-width: 1200px;
}

/*main image before text*/
header section #main{
    width: 100%;
    max-height: 35%;
    float: left;
    padding-bottom: 10px;
    z-index: 1;
}

section{
    padding: 75px;
}
/* images within the text*/
section .main{
    float: right;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: auto;

}

/*footer config*/
footer{ 
    background-color: #660000;
    padding: 5px;
}

footer p{
    color: white;
}


/*navigation bar*/


/*logo image stays in the top left corner*/
#logo { 
   float:left;
}

/*navigation bar full the width of the screen*/
header nav{
    width: 100%;
    margin: auto

}
/*background space around the nav bar */
nav ul{
    padding: 15px; 
   display: inline-block;
   list-style-type: none;
}

/*background and border color*/
nav{
    background-color: #660000;
    border: 2px solid black;
    text-align: center;
}

/*puts the links on the same line*/
nav li{
    display: inline-block;
    text-align:center;
}

/*link character config*/
ul a{
    font: bold;
    text-decoration: none;
    color: lightgray;
    padding: 10px;
    font-size: 32px;
}

nav a {
    display: block
}

/*mouse hovering over the links*/
ul a:hover{
    background-color: #ff0000;  
    color: white;
}



